<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uri</key>
	<string>http://192.168.225.224/</string>
	<key>requests</key>
	<array>
		<dict>
			<key>url</key>
			<string>setupdevice</string>
			<key>head</key>
			<dict>
				<key>Content-Type</key>
				<string>application/x-www-form-urlencoded</string>
			</dict>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;pos_account=${pos_account}&amp;password=${password}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>setUpDevice</string>
		</dict>
		<dict>
			<key>url</key>
			<string>checkdevice</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;check=${check}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>checkDevice</string>
		</dict>
		<dict>
			<key>url</key>
			<string>validatebarcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string></string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>validatebarcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>validatenumcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;numcode=${numcode}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>validateNumcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>dotransnumcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;numcode=${numcode}&amp;password=${password}&amp;amount=${amount}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>dotransNumcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>canceltransnumcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;numcode=${numcode}&amp;amount=${amount}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>canceltransNumcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>acktransnumcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;numcode=${numcode}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>acktransNumcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>validatebarcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;barcode=${barcode}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>validateBarcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>dotransbarcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;barcode=${barcode}&amp;password=${password}&amp;amount=${amount}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>dotransBarcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>canceltransbarcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;barcode=${barcode}&amp;amount=${amount}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>canceltransBarcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>acktransbarcode</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;barcode=${barcode}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>acktransBarcode</string>
		</dict>
		<dict>
			<key>url</key>
			<string>getredeemedhistory</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;pos_account=${pos_account}&amp;offset=${offset}&amp;limit=${limit}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>getRedeemedHistory</string>
		</dict>
		<dict>
			<key>url</key>
			<string>changepospassword</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;pos_account=${pos_account}&amp;old_password=${old_password}&amp;new_password=${new_password}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>changePosPassword</string>
		</dict>
		<dict>
			<key>url</key>
			<string>getloginhistory</string>
			<key>head</key>
			<dict/>
			<key>body</key>
			<string>did=${did}&amp;ts=${ts}&amp;pos_account=${pos_account}&amp;offset=${offset}&amp;limit=${limit}&amp;sig=${sig}</string>
			<key>method</key>
			<string>POST</string>
			<key>name</key>
			<string>getLoginHistory</string>
		</dict>
	</array>
</dict>
</plist>
